<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="SE1 double variable API">
                    <match url="^se1/api/([0-9a-z-]+)/([0-9a-z-.@]+)" />
                    <action type="Rewrite" url="se1/api.php?furl_function={R:1}&amp;furl_id={R:2}" />
                </rule>
                <rule name="SE1 single variable API">
                    <match url="^se1/api/([0-9a-z-]+)" />
                    <action type="Rewrite" url="se1/api.php?furl_function={R:1}" />
                </rule>
                <rule name="SE1 zero variable API">
                    <match url="^se1/api_help" />
                    <action type="Rewrite" url="se1/api.html" />
                </rule>
            </rules>
        </rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type,Accept,AuthToken" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,DELETE,PUT,OPTIONS" />
			</customHeaders>
		</httpProtocol>
        <urlCompression doDynamicCompression="false" />
    </system.webServer>
</configuration>
